---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="2021 End of Year Note - Blog - Zain Mobarik">
  <h1>2021 End of Year Note</h1>
  <p class="author">31st December 2021</p>

  <p>This year I experienced lows I could never fathom. Times when I was sucked into the floor, limp, sullen, ashen-faced, void of any ounce of strength to lift myself off the grim, industrial carpets of Tocil.</p>

  <p>Yet there were times where I felt alive again and excited for my future as well as the futures of my friends (new and old).</p>

  <p>I also learned a great piece of wisdom when discussing future prospects with a man who I had only known for half an hour at this point. He was in his final year and saw that I had all these aspirations and targets for my life and that I said phrases like "once I do this" or "once I have this". With a certain internal glint, he interjected and said that my fundamental outlook was setting myself up for a very sad life. He explained that being pumped for the end-goal is useless and will lead to a life empty of fulfilment; chasing goal after goal. Instead I should focus on the process, bathe in the highs and lows of the journey and enjoy every step of the way. I was almost taken aback. I questioned why I had never stopped and looked down at where I currently was at and just smiled at the progress I had made. Paradigm. Shift. As if the metaphysical walls of my mind were beginning to expand. I realised two things from this encounter:</p>

  <p>(1) Talk to people. Someone, somewhere will have a nugget of information or might say a phrase or a combination of words in some order that may go on to fundamentally change your life. Everyone is living their own, unique experience in this world and just by being alive and living their lives, they inadvertently have a different outlook on life that may completely change the way you think.</p>

  <p>(2) When I really digested his words, I had an almost out-of-body experience as my brain flashed every instance where I told myself that upon achieving a given goal in life I will be happy and can relax. But in the meantime I am stressing over tasks I have to encounter day to day to achieve this goal? Why can't I have that happiness now? Instead, I have to learn to simply enjoy the process. Three simple words to live 2022 by.</p>

  <p>I particularly remember doing a piece of work and smiling to myself even though I was stuck because I knew I still had so much to learn before I get anywhere close to my goal so I might as well just relax and enjoy the process.</p>

  <p>I am also thoroughly looking forward to the spontaneity that l will encounter in the coming year. It seems life is but a series of spontaneous actions - at least those are usually the events that stick out the most or even just make an average day profoundly better. The events that occur when you have a thousand things to do but you desire something else, something completely meaningless and inane.</p>

  <p>I am simultaneously frightened and electrified for the year to come, attempting to find the balance between greatness and giving myself ample time to mentally rest and recharge. The power struggle that is a result of constant overstimulation</p>

  <p>Also learned about how friendships have changed post secondary school. Closer to some. Different vibe?</p>

  <hr>

  <p><a href="/blog">← Back to blog</a></p>
</Layout>