---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Post-Run Reflection - Blog - Zain Mobarik">
  <h1>Post-Run Reflection</h1>
  <p class="author">3rd February 2021</p>

  <p>This was essentially a chance for me to reflect on my run, analyse my overall health and fitness and give myself a reality check of the goals I endeavour to achieve in the remainder of the year.</p>

  <p>From a purely physical perspective, I have to admit, I am fairly disappointed with my 8:30 mile. I was hoping for sub 8 minutes. Clearly cardio is something I need to work on as well as stamina. Unlike some people I do quite enjoy a run. It's thrilling. It's at the point when ur heart almost starts to burn when u feel the most alive in a run. So maybe a couple more consistent outings and I can achieve my first mini goal of getting a sub 8 minute mile :)</p>

  <p>But, for me, what truly gives me awe is just experiencing the real world. As I'm writing this, I am unsure on how to properly phrase my thoughts perhaps due to my lack of eloquence and 5 in English language GCSE ;) I digress, as I said, it's the fact that I merely submerge myself into the realm of the outside - that's what thrills me. Being stuck at home for 168/168 hours in the past week, has had a profound numbing and under-stimulating affect on the mind. The constant switch from Netflix to Snapchat to tiktok and back to Netflix almost degraded my brain to a vegetative state.</p>

  <p>So today, when I stepped outside, an instantaneous race began. Not only the physical one using my material limbs and body but also a mental race of all the thoughts in my mind pushing to the forefront of my brain in a chaotic struggle. Thoughts as simple as "Oh that house has a stunning architecture", "that guy looks a bit sketchy", "is that car following me", "I can't even feel my fingers", "I should have bought better running shoes".</p>

  <p>It may seem banal at first glance that these plain, simple and quite frankly boring thoughts are what truly excite me about running, but I urge the reader to reflect on why this is the case. Usually, under "normal" circumstances or pre-covid times, I may not have felt this fascination for running. However, perspective plays a huge role in my experience. Having spent a whole week in a monotonous routine in my dressing gown, even the simplest stimulation to my brain, the slightest spark in brain activity had an incredible affect on lifting my mood and general happiness. It's the fact that being at home made me ignorant to the beauty in the mundane, the beauty in everyday life, all the stories, adventures that lie just outside my front door.</p>

  <p>So, no, my night run was no trip to Thorpe park, but even the slightest adrenaline rush and juice in my brain was enough to keep me motivated and mentally fit in this lockdown. Until next time, kudos to you all</p>

  <hr>

  <p><a href="/blog">← Back to blog</a></p>
</Layout>