---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Reflections on my First Time in SF - Blog - Zain Mobarik">
  <h1>Reflections on my First Time in SF</h1>
  <p class="author">13th August 2025</p>

  <p>SF was unreal.</p>

  <h2>Highlights:</h2>
  <p>- Stayed in an airbnb with 9 guys I'd never met before</p>
  <p>- Attended a tech conference at Plug and Play ventures</p>
  <p>- Visited Yosemite</p>
  <p>- YC, Google and Founders Inc office visits</p>

  <p>Here are my unsolicited reflections, enjoy!</p>

  <p>1. Your mind is your limit —> "Shoot for the moon, and even if you'll miss, you'll land amongst the stars."</p>

  <p>2. Don't get lost in the sauce, hold tightly onto your values and remember your goal.</p>

  <p>3. Get building —> "The journey of a thousand miles begins with a single step."</p>

  <hr>

  <p><a href="/blog">← Back to blog</a></p>
</Layout>