<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
    <title>Zain's Portfolio</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../static/images/Mobarik_Zain_Univeristy of Warwick.jpg" alt="" class="logo__img">
        </div>

        <button class="nav-toggle" aria-label="toggle navigation">
            <span class="hamburger"></span>
        </button>

        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__items"><a href="/" class="nav__link">Home</a></li>
                <li class="nav__items"><a href="/#goals" class="nav__link">My Aspirations</a></li>
                <li class="nav__items"><a href="/#about" class="nav__link">About Me</a></li>
                <li class="nav__items"><a href="/#work" class="nav__link">My Work</a></li>
            </ul>
        </nav>
    </header>

    <!-- Introduction -->
    <section class="intro">
        <h1 class="section__title section__title--intro"><strong>Cow Language!</strong></h1>
        <p class="section__subtitle section__subtitle--intro">Working with low-level "esolangs".</p>
        <img src="../static/images/cow.jpeg" alt="Cow" class="intro__img">
    </section>

    <div class="portfolio-item-individual">
        <h3 class="portfolio-item-individual__title">Project Explanation</h3>
        <img src="../static/images/aspirations-01.jpeg" alt="Generic Coding Image">
        <p>The COW programming language was designed with the bovine in mind. Given that cows have somewhat limited vocabulary skills, it seemed natural to incorporate only the words they know into the language. As a result, all instructions are some variation on "moo" which just so happens to be the only word they really understand.</p>
        <p>Any other word or symbol that isn't an instruction is ignored entirely. So, spaces can be used or not. Newlines can be used or not. You get the idea. It makes commenting COW programs rather easy as long as you don't use any words that have an instruction embedded in it. All instructions are case-sensitive.</p>
        <h4 class="portfolio-item-individual__title portfolio-item-individual__subtitle">MOOOOO!</h4>
        <p><strong>0. moo</strong> <br>This command is connected to the MOO command. When encountered during normal execution, it searches the program code in reverse looking for a matching MOO command and begins executing again starting from the found MOO command. When searching, it skips the instruction that is immediately before it (see MOO).</p>
        <p><strong>1. mOo</strong><br>Moves current memory position back one block.</p>
        <p><strong>2. moO</strong><br>Moves current memory position forward one block.</p>
        <p><strong>3. mOO</strong><br>Execute value in current memory block as if it were an instruction. The command executed is based on the instruction code value (for example, if the current memory block contains a 2, then the moO command is executed). An invalid command exits the running program. Value 3 is invalid as it would cause an infinite loop.</p>
        <p><strong>4. Moo</strong><br>If current memory block has a 0 in it, read a single ASCII character from STDIN and store it in the current memory block. If the current memory block is not 0, then print the ASCII character that corresponds to the value in the current memory block to STDOUT.</p>
        <p><strong>5. MOo</strong><br>Decrement current memory block value by 1.</p>
        <p><strong>6. MoO</strong><br>Increment current memory block value by 1.</p>
        <p><strong>7. MOO</strong><br>If current memory block value is 0, skip next command and resume execution after the next matching moo command. If current memory block value is not 0, then continue with next command.</p>
        <p><strong>8. OOO</strong><br>Set current memory block value to 0.</p>
        <p><strong>9. MMM</strong><br>If no current value in register, copy current memory block value. If there is a value in the register, then paste that value into the current memory block and clear the register.</p>
        <p><strong>10. OOM</strong><br>Print value of current memory block to STDOUT as an integer.</p>
        <p><strong>11. oom</strong><br>Read an integer from STDIN and put it into the current memory block.</p>
        <p>With these commands, I built a program to out put the word "CHICKEN" to the terminal - this took me over 500 variations of "MOO" to output!</p>
        <h4 class="portfolio-item-individual__title portfolio-item-individual__subtitle">Here is a demo of my project!</h4>
        <div class="iframe-container">
            <iframe class="channel" src="https://www.youtube.com/embed/jyffWe99L7Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <footer class="footer">
        <a href="mailto:zainmobarik03@gmail.com" class="footer__link">zainmobarik03@gmail.com</a>
        <ul class="social-list">
            <li class="social-list__item"><a class="social-list__link" href="https://www.instagram.com/zain.mbrk/"><i class="fa-brands fa-instagram-square"></i></a></li>
            <li class="social-list__item"><a class="social-list__link" href="https://github.com/znmbrk"><i class="fa-brands fa-github"></i></a></li>
            <li class="social-list__item"><a class="social-list__link" href="https://www.youtube.com/channel/UCd4ZMTocC28QEfYPOOvA05Q"><i class="fa-brands fa-youtube"></i></a></li>
            <li class="social-list__item"><a class="social-list__link" href="https://www.linkedin.com/in/zainmobarik/"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
    </footer>

    <script src="../static/js/nav.js"></script>

</body>
</html>