*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: "Source Sans Pro", sans-serif;;
    --ff-secondary: "Source Code Pro", monospace;;
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #9916e0;

    --fs-hl: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

body {
    background-color: rgb(0, 255, 238);
}