---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact - Zain Mobarik">
  <h1>Contact</h1>
  <p>Let's chat! Always down to meet interesting folk.</p>

  <h2>Get in Touch</h2>

  <p>Best way to reach me directly:</p>
  <p><a href="mailto:zainmobarik03@gmail.com">zainmobarik03@gmail.com</a></p>
  <p>i will most likely always respond</p>

  <h2>Find Me Online</h2>

  <p><a href="https://twitter.com/zainmbrk" target="_blank">Twitter</a> - @zainmbrk</p>
  <p>random thoughts and life updates</p>

  <p><a href="https://linkedin.com/in/zainmobarik" target="_blank">LinkedIn</a> - @zainmobarik</p>
  <p>more professional updates</p>

  <p><a href="https://github.com/znmbrk" target="_blank">GitHub</a> - @znmbrk</p>
  <p>stuff i've made</p>

  <p><a href="https://substack.com/@zainmobarik" target="_blank">Substack</a> - @zainmobarik</p>
  <p>more polished thouhgts</p>

  <hr>

  <p><a href="/">← Back to home</a></p>
</Layout>