---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Bill Split - Projects - Zain Mobarik">
  <h1>Bill Split - Split that bill!</h1>
  <p class="author">Website for users to split bills within groups</p>

  <h2>Project Explanation</h2>

  <p>Utilised Python's Flask Framework and SQL Alchemy for the database for my website to split bills between users. Mainly for university students who live in the same house to create an account and split a given bill between each housemate.</p>

  <p>Used JavaScript's JQuery and AJAX Frameworks to add and delete bills without having to refresh the page.</p>

  <h2>Cool Features!</h2>

  <h3>Recent transaction history displaying the last 5 transactions.</h3>
  <p>When the user has logged into their account, I iterate through all the completed transactions to do with them and get the last 5 transactions from the database. The last 5 will be the 5 most recent transactions.</p>

  <h3>Ability to split bill unevenly using a share percentage that has to add up to 100 percent.</h3>
  <p>I have added the ability to unevenly share the bill using percentages. I have implemented an error check to make sure the percentages add up to 100. I get all the percentages from the form of all the payers and calculate how much of the total they have to pay.</p>

  <h3>Flash messages of when someone has completed a bill.</h3>
  <p>Along with having flash messages for when someone sends a new bill, I also have flash messages for when someone has paid their portion of the bill. I have an attribute in my "Share" class called "senderEmail" which is the email of the person that sent the bill. I iterate through all the people that need to pay a bill from the "Share" class and see if the logged in user sent any bills. For all the bills the logged in user has sent off, I check to see if any of them are completed using the "complete" boolean attribute. For all completed bills, I check to see if the user knows if they are completed or not using the "dateTime" function and the boolean attribute "checkPaid". If the time the bill was sent was before the user last logged in and "checkPaid" is False, I flash a new message of someone completing their bill.</p>

  <h3>Adding multiple housemates and certain members to split bills differently with.</h3>
  <p>Following up on the dynamic percentages point, I also have the ability to keep adding multiple housemates to the same bill in one go. I used JQuery's HTML.append() function to keep adding rows of the form when the user clicks "add housemate". The tricky bit was to keep the title of the bill fixed on what the user picked for the first housemate so that they all get charged for the same bill. Furthermore, it was important to keep the total the same so that all the money calculations are consistent. I managed to do both these things. In my "cwk.py" file, I had to use "getlist()" for all the form input fields as now I was potentially dealing with multiple entries. Moreover, I had to "zip()" the contents of the form so that I get all the data from all the fields person by person instead of category by category. This is how I executed this feature.</p>

  <h3>Used Ajax for the update and delete button and to add housemates.</h3>
  <p>My final additional feature was using Ajax for the "Update" and "Delete" buttons. For both functions in my ".js" file, I used the "$.post()" method to send off the relevant data to my Flask file instead of having to refresh the page for the flask file to get the new information. To actually make the changes, I simply get the ID of the parts I am dealing with and update their HTML using JQuery.</p>

  <h2>Project Demo</h2>
  <p><a href="https://www.youtube.com/embed/QHGryHz_7-o">Watch the demo video</a></p>

  <hr>

  <p><a href="/projects">← Back to projects</a></p>
</Layout>