---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Command-line Terminal - Projects - Zain Mobarik">
  <h1>Command-line Terminal</h1>
  <p class="author">File manipulation in C</p>

  <h2>Project Explanation</h2>

  <p>After some initial research, I was looking for ways in which C can detect what is happening in the command-line. One way was using the in-built arg parameters in C which tracked the user inputs and the number of inputs and another method was using a switch case block to read where the user wants to navigate to.</p>

  <p>I decided to use the arg parameters in my approach as I wanted to learn more about them and thought they made more logical sense to use.</p>

  <hr>

  <p><a href="/projects">← Back to projects</a></p>
</Layout>