<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Zain's Portfolio</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="zain-penny.jpeg" alt="">
        </div>

        <button class="nav-toggle" aria-label="toggle navigation">
            <span class="hamburger"></span>
        </button>

        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__items"><a href="#home" class="nav__link">Home</a></li>
                <li class="nav__items"><a href="#goals" class="nav__link">My Goals</a></li>
                <li class="nav__items"><a href="#about" class="nav__link">About Me</a></li>
                <li class="nav__items"><a href="#work" class="nav__link">My Work</a></li>
            </ul>
        </nav>
    </header>

    <!-- Introduction -->
    <section class="intro" id="home">
        <h1 class="section__title section__title--intro">Hey party people, its ya boi <strong>Zain Mobarik</strong></h1>
        <p class="section__subtitle section__subtitle--intro">Avid coder. Lover of web development, python, java and c.</p>
        <img src="static/images/zain-penny.jpeg" alt="picture of me!">
    </section>

    <!-- My Goals -->
    <section class="my-goals" id="goals">
        <h2 class="section__title section__title--goals">My Aspirations</h2>
        <div class="goals">
            <div class="goal">
                <h3>Data Structures and Algorithms</h3>
                <p>My first goal is to master coding up data structures in a language of my choice and be able to know when to use a specific data structure or algorithm over another.</p>
            </div>
            <div class="goal">
                <h3>Crypto</h3>
                <p>My second goal is to deep-dive into the Web3/Crypto space and learn about the functionality of the blockchain from a more technical perspective.</p>
            </div>
            <div class="goal">
                <h3>APIs</h3>
                <p>My third goal is to do more API related projects this year.</p>
            </div>
        </div>
    
        <a href="#work" class="btn">My Work</a>
    </section>

    <!-- About Me -->
    <section class="about-me" id="about">
        <h2 class="section__title section__title--about">More about meeeeee!</h2>
        <p class="section__subtitle section__subtitle--about"></p>

        <div class="about-me__body">
            <p>I am a second year Computer Science student at the University of Warwick and my interests lie in tech, finance and philosophy. Within tech, I love web development and the beauty of lower-level languages like C. I also have a deep interest in tech applied to finance with financial modelling and algorithmic trading. Finally, within philosphy I love epistemology and studies on the mind and the body such as the Hard Problem of Consciousness.</p>
        </div>

        <img src="static/images/zain-penny.jpeg" alt="picture of me!">
    </section>

    <!-- My Work -->
    <section class="my-work" id="work">
        <h2 class="section__title">My Work</h2>
        <p class="section__subtitle"></p>

        <div class="portfolio">
            <a href="#" class="portfolio__item">
                <img src="static/images/port-01.png" alt="Ancient Combat" class="portfolio__img">
                <img src="static/images/port-02.png" alt="Bill Split" class="portfolio__img">
                <img src="static/images/port-03.jpeg" alt="Ancient Combat" class="portfolio__img">
            </a>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <a href="mailto:zainmobarik03@gmail.com" class="footer__link">zainmobarik03@gmail.com</a>
        <ul class="social--list">
            <li class="social--list__item"><a class="social--list__link" href="https://www.instagram.com/zain.mbrk/">a</a></li>
            <li class="social--list__item"><a class="social--list__link" href="https://github.com/znmbrk">b</a></li>
            <li class="social--list__item"><a class="social--list__link" href="https://www.youtube.com/channel/UCd4ZMTocC28QEfYPOOvA05Q">c</a></li>
            <li class="social--list__item"><a class="social--list__link" href="https://www.linkedin.com/in/zainmobarik/">d</a></li>
        </ul>
    </footer>

</body>
</html>